* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sectionOne {
    background-color: #1F2937;
    color: white;
}

.header {
    display: flex;
    justify-content: space-around;
    background-color: red;
}

.logo {
    width: 150px;
    height: 100px;
    background-image: url(../img/pexels-magda-ehlers-4116637.jpg);
    background-size: contain;
}

.headerLinks {
    display: flex;
    justify-content: space-between;
}