* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sectionOne {
    background-color: #1F2937;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 0px 200px;
}

.header {
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
}

.logo {
    width: 250px;
    height: 150px;
    background-image: url(../img/pexels-magda-ehlers-4116637.jpg);
    background-size: cover;
}

.headerLinks {
    display: flex;
    justify-content: space-between;
    /* background-color: yellow; */
    gap: 20px;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
}

.containerOne {
    display: flex;
    justify-content: space-between;
}

.heroContainer {
    display: flex;
    flex-direction: column;
}

.heroImg {
    background-image: url(../img/pexels-luis-del-río-15286.jpg);
    background-size: cover;
    width: 400px;
    height: 350px;
}