* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.sectionOne {
    background-color: #1F2937;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 0px 200px;
    height: 500px;
}

.header {
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
    padding: 20px 0px;
}

.headerLogo {
    /* width: 250px;
    height: 150px;
    background-image: url(../img/pexels-magda-ehlers-4116637.jpg);
    background-size: cover; */
    font-weight: 700;
    font-size: 24px;
    color: #F9FAF8;
}

.headerLinks {
    display: flex;
    justify-content: space-between;
    /* background-color: yellow; */
    align-items: center;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.containerOne {
    display: flex;
    justify-content: space-between;
}

.heroContainer {
    /* display: flex;
    flex-direction: column; */
    flex: 1;
    padding: 0px 20px 0px 0px;
}

.heroContainer h1 {
    font-weight: 900;
    font-size: 48px;
}

.heroContainer p {
    font-size: 18px;
    font-weight: 300;
}

.heroImg {
    background-image: url(../img/pexels-luis-del-río-15286.jpg);
    background-size: cover;
    /* width: 400px;
    height: 350px; */
    flex: 1;
}

.heroContainer button {
    border: none;
    background-color: #3882F6;
    padding: 10px 40px;
    font-weight: 500;
    font-size: 18px;
    color: white;
    margin-top: 10px;
    border-radius: 8px;
}

/* Section Two */
.sectionTwo {
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin: -30px 0px 50px 0px;
}

.sectionTwo h2 {
    font-weight: 900;
    font-size: 36px;
}

.boxes {
    display: flex;
    gap: 50px;
}

.boxSmall {
    flex: 1;
    width: 180px;
    height: 200px;
    text-align: center;
}

.img {
    width: 180px;
    height: 180px;
    border: 4px solid #3882F6;
    border-radius: 20px;
}

.boxSmall p {
    padding: 10px 5px 0px 5px;
    font-size: 18px;
    font-weight: 300;
}